body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  background-color:#e3e3e3;
}

.App{
  padding:10px;
}
.header{
  width:100%;
  text-align: center;
  font-weight: 500;
  font-size: 2em;

  span{
    background-color:#fff;
    padding:15px;
    border-radius: 20px;
    cursor: pointer;
    
    &:hover{
      color:#fff;
      background: rgb(111,108,153);
      background: linear-gradient(90deg, rgba(111,108,153,1) 17%, rgba(233,37,65,1) 100%);
    }
    &:active{
      background: #202020;
      color:#fff;
    }
  }
  
}
.App {
  margin: 1rem;
  
}
