@import "variables.less";

body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dot-grid.png");
}
html, body , #root, .App {
  width:100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
input:focus {
  outline:none;
}
.App{
}

.disNone{
  display: none;
}

.home{
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  color:@light;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/micro_carbon.png");
  .head{
    width:100%;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15%;
    .title{
      
      .title-sub{
        font-size: 12px;
        font-weight: normal;
        display: block;
      }
    }
    .sub{
      font-weight: normal;
      font-size: 20px;
      margin-top: 50px;
      color: @white;
      span{
        padding: 10px;
        &:hover{
          border: 1px solid @light;
        }
      }
    }
  }
  
}

.home-footer{
  position: fixed;
  bottom: 10%;
  width: 100%;
  text-align: center;
  color: @light;
}
//Header
.header{
  width:100%;
  text-align: center;
  font-weight: 500;
  font-size: 2em;

  span.test{
    background-color: @white;
    padding:15px;
    border-radius: 20px;
    cursor: pointer;
    border:1px solid black;
    &:hover{
      border:0;
      color: @white;
      background: rgb(111,108,153);
      background: linear-gradient(90deg, rgba(111,108,153,1) 17%, rgba(233,37,65,1) 100%);
    }
    &:active{
      background: #202020;
      color: @white;
    }
  }
  
}

//Sidebar
.sidebar{
  z-index: 100;
  height:100%;
  position: fixed;
  top:0;
  left:0px;
  min-width: 20px;
  padding: 10px;
  color: @white;
  background: #000000d5;
  .head{
    display:block;
    font-size:13px;
    text-transform: uppercase;
    font-weight: 200;
    border:1px solid @white;
    padding:10px;
    margin-bottom:10px;
    cursor: pointer;
    &:hover{
      background: @light;
      color: @black2;
    }
    &:active{
      color: @white;
      background: rgb(111,108,153);
      background: linear-gradient(90deg, rgba(111,108,153,1) 17%, rgba(233,37,65,1) 100%);
    }
  }

  #active{
    text-decoration: underline;
    font-weight: bold;
    border-right: 5px solid @white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: @white;
  }
}

.ele{
  font-size: 14px;
  ul{
   margin-top:10px;
   padding: 5px;
   list-style-type: none;
   
   cursor: pointer;
   li{
     color: @light;
     cursor: pointer;
     &:hover{
        background: @black2;
     }
   }
  }
}
.info{
  position: fixed;
  right:10px;
  top: 10px;
  width:20%;
  background-color: #313131;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  color:@white;
  padding:10px;
  min-height: 20px;
  font-size: 14px;
  text-align: left;
  #aboutText{
    width:80%;
    display: inline-block;
  }
  #about{
    display: inline-block;
    font-size:10px;
    text-transform: uppercase;
    position: absolute;
    color:#dbdf19; 
    right: 10px;
    background-color:#202020;
    padding: 3px;
    border-radius: 4px;
  }
}
//form componenents 
//Current scheme is form1,form2,... Need to find a better solution, like making a base template style
#submit{
  cursor: pointer;
  display: block;
}
.formContainer{
  width:100%;
  height:100%;
  position: fixed;
  top:20%;
  margin: auto;
  left:40%;
  .form1{
    max-width: max-content;
    background-color: @white;
    padding: 30px 50px 60px 20px;
    #head{
      display: block;
      font-size: 50px;
      margin-bottom: 20px;
    }
    input{
      margin-bottom: 5px;
      padding:5px;
      border:0;
      transition: all 0.5s;
      width:300px;
      border-bottom: 1px solid #a0a0a0;
      font-size: 25px;
    }
    #submit{
      border:1px solid @black;
      padding: 5px;
      max-width: max-content;
      margin-top:20px;
      background-color: @black;
      color:@white;
      &:hover{
        background-color: @white;
        color:@black;
      }
    }
  }

  .form2{
    max-width: max-content;
    background-color: @black2;
    padding: 30px 50px 60px 20px;
    color: #eeadd8;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    #head{
      background-color: @black2;
      font-size:50px;
      max-width: max-content;
      text-transform: uppercase;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      margin-bottom: 10px;
      display: block;
      padding:10px;
      transition: all 0.5s;
      #in{
       
      }
    }
    input{
      margin-bottom: 5px;
      padding:7px;
      border: 0;
      width:300px;
      font-size: 25px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      transition: width 0.5s , background-color 0.5s, margin-right 0.5s;
      margin-right:50px;
      color: #eeadd8;
      background-color: #313131;
      &:focus{
        width:350px;
        background-color: #4e4e4e;
        margin-right:0px;
      }
      &::placeholder { 
        color: #eeadd8;
        opacity: 0.5;
      }
    }
    #submit{
      margin-top: 10px;
      font-size: 20px;
      max-width: max-content;
      padding: 10px;
      background-color: #313131;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    
      transition: all 0.5s;
      &:hover{
        background-color: #4e4e4e;
      }
    }
  }

  .form3 {
    max-width: max-content;
    background-color: @white;
    padding: 30px 50px 60px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    
    font-size: 40px;
    color: @black;
    #head{
      display: block;
      max-width: max-content;
      margin-bottom: 20px;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }
    input{
      width: 200px;
      padding:10px;
      font-size: 20px;
      color: @black;
      border:0;
      background-color: transparent;
      transition: all 0.5s;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      margin-bottom: 10px;
      &::placeholder { 
        color: #000;
        opacity: 0.8;
      }
    }
    #submit{
      margin-top: 10px;
      font-size: 20px;
      max-width: max-content;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      transition: all 0.5s;
    }
  }
}


//Animation for sliding to left
@keyframes slideInFromLeft {
  0% {
    width:0px;
    opacity: 1;
  }
  100% {
    width:inherit;
    opacity: 0.2;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    width:0px;
    opacity: 1;
  }
  100% {
    width:inherit;
    opacity: 0.2;
  }
}
@-moz-keyframes slideInFromLeft {
  0% {
    width:0px;
    opacity: 1;
  }
  100% {
    width:inherit;
    opacity: 0.2;
  }
}

//Card container, part of "other" series
.cardContainer{
  padding-top: 10%;
  padding-left: 5%;
  .card{
    .bgCont{
      display: block;
      background-repeat: no-repeat;
      background-position: right;
      background-position-x: 200px;
      background-position-y: -80px;
      background-size: 20em;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      position: absolute;
    }
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 300px;
    background: linear-gradient(19deg, #4c487f, #2d7b34);
    background-size: 200% 200%;

    -webkit-animation: cardBackground 7s ease infinite;
    -moz-animation: cardBackground 7s ease infinite;
    animation: cardBackground 7s ease infinite;

    @-webkit-keyframes cardBackground {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @-moz-keyframes cardBackground {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes cardBackground {
        0%{background-position:50% 0%}
        50%{background-position:51% 100%}
        100%{background-position:50% 0%}
    }
    overflow: hidden;
    position: relative;
    color: @white;
    .top-right{
      font-weight: bold;
      position: absolute;
      right: 20px;
      top: 20px;
      opacity: 0.8;
    }
   
    .number{ 
        position: absolute;
        left: 20px;
        bottom: 90px;
        font-size: 30px;
        font-weight: bold;
        .expiry{
          display: block;
          font-size: 12px;
          position: absolute;
          right: 0px;
          border-radius: 4px;
          font-weight: initial;
        }
    }
    .name{
        position: absolute;
        left: 20px;
        bottom: 40px;
        text-transform: capitalize;
        font-size: 16px;
    }
  }
}
@keyframes phoneRot {
  0%{transform: rotate(200deg);}
  20%{transform: rotate(3deg);}
  80%{transform: rotate(-4deg);}
  100%{transform: rotate(0deg);}
}

//Phone Container
.phoneContainer{
  padding-top: 5%;
  padding-left: 5%;
  .phone{
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.7);
    animation: phoneRot 3s ease-out;
    @keyframes cardBackground {
      0%{filter: grayscale(50%);}
      50%{filter: grayscale(30%);}
      100%{filter: grayscale(50%);}
  }
    .bgCont{
      width: 100%;
      height: 100%;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      animation: cardBackground 7s ease infinite;
    }
    
    overflow: hidden;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    
    width: 270px;
    height: 500px;
    border-radius: 10px;
    display: inline-block;
    background-color: @white;
    position: relative;
    font-size: 10px;
    .details{
      
      position: absolute;
      color: @white;
      left: 10px;
      top: 100px;
      text-align: left;
      .time{
        font-weight: bold;
        font-size: 40px;
      }
      .more{
        display: block;
        text-transform: uppercase;
        margin-left: 3px;
      }
    }
    .shimBars{
      @keyframes boxShadow {
        0%{transform: rotate(200deg);}
        80%{transform: rotate(-40deg);}
        100%{transform: rotate(0deg);}
      }
      .shim{
        animation: boxShadow 3s ease-out;
        padding: 0px;
        margin-top: 10px;
        display: block;
        height: 10px;
        width: 120px;
        border-radius: 4px;
        background-color: #e3e3e320;
        &:nth-child(2){
          height: 12px;
          padding: 4px;
          background-color: #e3e3e350;
        }
        &:nth-child(3){
          padding: 8px;
          height: 14px;
          background-color: #e3e3e399;
        }
        &:nth-child(4){
          height: 12px;
          padding: 4px;
          background-color: #e3e3e350;
        }
      }
    }
    .swipe-up{
      position: absolute;
      color: @light;
      bottom: 20px;
      display: block;
      width: 100%;
      left:0px;
      text-align: center;
      font-size: 8px;
      text-transform: uppercase;
      span{
        border-top: 1px solid @light;
        border-radius: 5px;
        padding: 2px;
      }
    }
    

  }
}

.searchContainer{
  padding-top: 10%;
  text-align: center;
  .search1{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    min-width: 500px;
    max-width: max-content;
    padding: 20px;
    border-radius: 10px;
    background: @white;
    
    .box{
      display: inline-block;
      position: relative;
      
      input{
        border:0;
        padding: 7px;
        font-size: 25px;
      }
      .icon-search{
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 100%;
        background-position-y: 5px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .search2{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    display: inline-block;
    min-width: 200px;
    max-width: max-content;
    padding: 5px;
    background-color: @white;
    
    .box{
      display: inline-block;
      position: relative;
      
      input{
        border:0;
        padding: 15px;
        font-size: 20px;
        &::placeholder{
          text-align: center;
          color: @black2;
        }
      }

      .icon-search{
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 100%;
        right: 0;
        background-position-y: 9px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      
    }
  }
}